body {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
}

.input-calendar .input-calendar-field,
.PhoneInputInput {
    height: 34px !important;
    border-radius: 0px !important;
    width: 238px !important;
}

.user_body {
    min-height: 76vh;
}

footer {
    margin-left: 260px;
    background-color: #f7faff;
    transition: margin-left .6s ease-out;
}